<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaPrincipal}">
<head>
<title>Lista Usuarios de Empresa</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Lista Usuarios de Empresa</h3>
				<div class="card-tools">
					<a type="button" class="btn btn-block btn-secondary"
						th:href="@{/nuevoEmpresaUsuario}">Nuevo</a>
				</div>
			</div>
			<div class="card-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th scope="col">Id Usuario Empresa</th>
							<th scope="col">Fecha Registro</th>
							<th scope="col">Empresa</th>
							<th scope="col">Usuario</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuarioEmpresa : ${usuariosEmpresas}">
							<th scope="row" th:text="${usuarioEmpresa.idUsuarioEmpresa}"></th>
							<td th:text="${#dates.format(usuarioEmpresa.fechaRegistro, 'dd/MM/yyyy')}"></td>
							<td th:text="${usuarioEmpresa.fkEmpresa.nombre}"></td>
							<td th:text="${usuarioEmpresa.fkUsuario.usuario}"></td>
						<!--	<td>
								 <a type="button" class="btn btn-info btn-xs" th:href="@{/editarUsuarioEmpresa/{id}(id=${usuarioEmpresa.idUsuarioEmpresa})}">
									<i class="fas fa-edit"></i>
								</a>
								<a type="button" class="btn btn-danger btn-xs" th:href="@{/eliminarUsuarioEmpresa/{id}(id=${usuarioEmpresa.idUsuarioEmpresa})}">
									<i class="fas fa-trash-alt"></i>
								</a> 
							</td>-->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">Footer</div>
		</div>
	</div>
</body>
</html>
