<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaPrincipal}">
<head>
<title>Lista de Vehículos</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Lista de Vehículos</h3>
				<div class="card-tools">
					<a type="button" class="btn btn-block btn-secondary"
						th:href="@{/nuevoVehiculo}">Nuevo</a>
				</div>
			</div>
			<div class="card-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th scope="col">Id Vehículo</th>
							<th scope="col">Placa</th>
							<th scope="col">Color</th>
							<th scope="col">Marca</th>
							<th scope="col">Modelo</th>
							<th scope="col">Año</th>
							<th scope="col">Kilometraje</th>
							<th scope="col">Usuario</th>
							<th scope="col">Estado Vehículo</th>
							<th scope="col">Fecha Registro</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="vehiculo : ${vehiculos}">
							<th scope="row" th:text="${vehiculo.idVehiculo}"></th>
							<td th:text="${vehiculo.placa}"></td>
							<td th:text="${vehiculo.color}"></td>
							<td th:text="${vehiculo.marca}"></td>
							<td th:text="${vehiculo.modelo}"></td>
							<td th:text="${vehiculo.anio}"></td>
							<td th:text="${vehiculo.kilometraje}"></td>
							<td th:text="${vehiculo.fkEstadoVehiculo.estado}"></td>
							<td th:text="${vehiculo.fkUsuario.usuario}"></td>

							<td th:text="${#dates.format(vehiculo.fechaRegistro, 'dd/MM/yyyy')}"></td>
							<!--<td>
								<a type="button" class="btn btn-info btn-xs" th:href="@{/editarVehiculo/{id}(id=${vehiculo.idVehiculo})}">
									<i class="fas fa-edit"></i>
								</a>
								<a type="button" class="btn btn-danger btn-xs" th:href="@{/eliminarVehiculo/{id}(id=${vehiculo.idVehiculo})}">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>-->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">Footer</div>
		</div>
	</div>
</body>
</html>
