<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaPrincipal}">
<head>
<title>Lista de Roles</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Lista de Roles</h3>
				<div class="card-tools">
					<a type="button" class="btn btn-block btn-secondary"
						th:href="@{/nuevoRol}">Nuevo</a>
				</div>
			</div>
			<div class="card-body">
				<table id="example1" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th scope="col">Id Rol</th>
							<th scope="col">Nombre</th>
							<th scope="col">Fecha Registro</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="rol : ${roles}">
							<th scope="row" th:text="${rol.idRol}"></th>
							<td th:text="${rol.nombre}"></td>
							<td th:text="${#dates.format(rol.fechaRegistro, 'dd/MM/yyyy')}"></td>
							<!--<td>
								<a type="button" class="btn btn-info btn-xs" th:href="@{/editarRol/{id}(id=${rol.idRol})}">
									<i class="fas fa-edit"></i>
								</a>
								<a type="button" class="btn btn-danger btn-xs" th:href="@{/eliminarRol/{id}(id=${rol.idRol})}">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>-->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">Footer</div>
		</div>
	</div>
</body>
</html>
