<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaPrincipal}">
<head>
<meta charset="ISO-8859-1">
<title>Nuevo Usuario de Empresa</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<br>
		<div class="row">
			<div class="col-12">
				<div class="card card-secondary">
					<div class="card-header">
						<h3 class="card-title">Nuevo Usuario de Empresa</h3>
					</div>
					<form th:action="@{/guardarUsuarioEmpresa}" th:object="${nuevo}" method="post">
						<div class="card-body">
							<div class="form-group">
								<label for="empresa">Empresa:</label>
								<select th:field="*{fkEmpresa}" class="form-control" id="empresa">
									<option th:each="empresa : ${empresas}" th:value="${empresa.idEmpresa}" th:text="${empresa.nombre}"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="usuario">Usuario:</label>
								<select th:field="*{fkUsuario}" class="form-control" id="usuario">
									<option th:each="usuario : ${usuarios}" th:value="${usuario.idUsuario}" th:text="${usuario.usuario}"></option>
								</select>
							</div>
							
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a type="button" class="btn btn-info" th:href="@{/empresaUsuario}">Cancelar</a>
							<input type="hidden" th:field="*{idUsuarioEmpresa}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
