<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaPrincipal}">
<head>
<meta charset="ISO-8859-1">
<title>Nuevo Cliente</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<br>
		<div class="row">
			<div class="col-12">
				<div class="card card-secondary">
					<div class="card-header">
						<h3 class="card-title">Nuevo Cliente</h3>
					</div>
					<form th:action="@{/guardarCliente}" th:object="${nuevo}" method="post">
						<div class="card-body">
							<div class="form-group">
								<label for="identificacion">Identificación:</label>
								<input th:field="*{identificacion}" type="text" class="form-control" id="identificacion" placeholder="1000000000">
							</div>
							<div class="form-group">
								<label for="nombres">Nombres:</label>
								<input th:field="*{nombresCliente}" type="text" class="form-control" id="nombres" placeholder="Nombre">
							</div>
							<div class="form-group">
								<label for="apellidos">Apellidos:</label>
								<input th:field="*{apellidosCliente}" type="text" class="form-control" id="apellidos" placeholder="Apellidos">
							</div>
							<div class="form-group">
								<label for="telefono">Teléfono:</label>
								<input th:field="*{telefono}" type="text" class="form-control" id="telefono" placeholder="09xxxxxxxx">
							</div>
							<div class="form-group">
								<label for="email">Email:</label>
								<input th:field="*{email}" type="email" class="form-control" id="email" placeholder="correo@ejemplo.com">
							</div>
							
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a type="button" class="btn btn-info" th:href="@{/clientes}">Cancelar</a>
							<input type="hidden" th:field="*{idCliente}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
