<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{plantillaPrincipal}">
<head>
<meta charset="ISO-8859-1">
<title>Nuevo Detalle</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<br>
		<div class="row">
			<div class="col-12">
				<div class="card card-secondary">
					<div class="card-header">
						<h3 class="card-title">Nuevo Detalle</h3>
					</div>
					<form th:action="@{/guardarDetalle}" th:object="${nuevo}" method="post">
						<div class="card-body">
							<div class="form-group">
								<label for="nombre">Nombre:</label>
								<input th:field="*{nombre}" type="text" class="form-control" id="nombre" placeholder="Nombre">
							</div>
							<div class="form-group">
									<label for="estado">Estado:</label>
									<select th:field="*{estado}" class="form-control" id="valor">
										<option value="true">Activo</option>
										<option value="false">Inactivo</option>
									</select>
								</div>
							
							<button type="submit" class="btn btn-primary">Guardar</button>
							<a type="button" class="btn btn-info" th:href="@{/detalles}">Cancelar</a>
							<input type="hidden" th:field="*{idDetalle}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
